/* layout, general formatting, and divs */

body {
    margin: 0;
    padding: 0;
}

.everything {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.header,
.footer {
    background-color: hsl(253, 78%, 19%);
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
   
}

.footer {
    height: 60px;
    margin-top: auto;
}







/* header formatting */


.header {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
}

.header .text {
    color: aliceblue;
}

/* Logo */

.logo {
    display: flex;
    gap: 10px;
}

.mini-heading {
    font-size: 30px;
}

.main-heading {
    font-size: 70px;
}

/* List */

.find-page-text {
    margin-left: auto;
    font-size: 30px;
}

.header-button {
    background-color: hsl(253, 78%, 19%);
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 20px;
}

.button-container {
    border-color: aliceblue;
    border-width: 1px;
    padding: 15px 45px;
    border-style: solid;
    border-radius: 20px;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 8px;
}








/* Section 1 */

.section-1 {
    background-image: url(./images/flower-background.jpg);
    background-size: 100vw auto;
    height: 600px;
    background-position: 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-heading {
    color: aliceblue;
    font-size: 100px;
}