/* layout, general formatting, and divs */

body {
    margin: 0;
    padding: 0;
}

.everything {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.header,
.footer {
    background-color: hsl(253, 78%, 19%);
    flex-shrink: 0;
}

.about-section,
.theme-section,
.iteration-section,
.content-section,
.advanced-section,
.feedback-section {
    box-sizing: border-box;
    padding: 30px 300px;
    min-height: 400px;
}

.content {
    flex-grow: 1;
   
}

.footer {
    height: 60px;
    margin-top: auto;
}







/* header formatting */


.header {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
}

.header .text {
    color: aliceblue;
}

/* Logo */

.logo {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.mini-heading {
    font-size: 20px;
    margin: 0;
}

.main-heading {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

/* List */

.find-page-text {
    margin-left: auto;
    font-size: 20px;
}

.header-button {
    background-color: hsl(253, 78%, 19%);
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px 12px;
    font-size: 15px;
}

.button-container {
    border-color: aliceblue;
    border-width: 0px;
    padding: 15px 45px;
    border-style: solid;
    border-radius: 20px;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 8px;
}








/* Section 1 */

.section-1 {
    background-image: url(./images/flower-background.jpg);
    background-size: 100vw auto;
    height: 600px;
    background-position: 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-heading {
    color: aliceblue;
    font-size: 100px;
}







/* About section */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-section .heading {
    font-size: 80px;
    margin: 0px;
    padding: 0px;
}

.about-section p {
    font-size: 20px;
}







/* Theme, iteration, and content sections */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

.theme-section,
.iteration-section,
.content-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.theme-section img,
.iteration-section img,
.content-section img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.theme-section .heading,
.iteration-section .heading,
.content-section .heading {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.theme-section p,
.iteration-section p,
.content-section p {
    font-size: 20px;
}

.theme-section button,
.iteration-section button,
.content-section button {
    color: aliceblue;
    background-color: hsl(253, 78%, 19%);
    border-width: 0px;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 10px;
}


/* Theme section */

.theme-section {
    background-color: aliceblue;
}


/* Iteration section */




/* Content section */

.content-section {
    background-color: aliceblue;
}








/* Advanced section */

.advanced-section {
    display: flex;
    gap: 20px;
}

.explanation {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advanced-section .heading {
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.advanced-section p {
    font-size: 20px;
}

.list-1,
.list-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-1 ul,
.list-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.advanced-section li {
    margin: 15px 0px;
}








/* Feedback section */

.feedback-section {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback-section .heading {
    margin: 0;
    padding: 0;
    font-size: 70px;
}

.feedback-section p {
    font-size: 20px;
}

.feedback-section button {
    color: aliceblue;
    background-color: hsl(253, 78%, 19%);
    border-width: 0px;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.feedback-section .feedback {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 20px;
    column-gap: 20px;
}


.feedback-section textarea {
    height: 150px;
    width: 500px;
    border-radius: 15px;
    font-size: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
}

.feedback-section input {
    border-radius: 15px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0px 10px;
}








/* Nav and settings section */

.nav-and-settings-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(253, 78%, 19%);
    box-sizing: border-box;
    padding: 30px 300px;
    min-height: 300px;
}

.nav-and-settings-section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    row-gap: 50px;
}

.nav-and-settings-section a {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}






/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: aliceblue;
    font-size: 15px;
}